{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Section Begin -->
 <section class="welcome-blog-post-slide owl-carousel">
        <!-- Single Blog Post -->
        <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url({% static 'img/news1.jpg' %});">
            <!-- Single Blog Post Content -->
            <div class="single-blog-post-content">
                <div class="tags">
                    <a href="#">Спорт</a>
                </div>
                <h3><a href="#" class="font-pt">Боксеры Узбекистана завоевали сразу три золотые медали в копилку сборной на Азиатских играх </a></h3>

            </div>
        </div>
        <!-- Single Blog Post -->
        <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url({% static 'img/news2.jpg' %});">
            <!-- Single Blog Post Content -->
            <div class="single-blog-post-content">
                <div class="tags">
                    <a href="#">Политика</a>
                </div>
                <h3><a href="#" class="font-pt">Президент Узбекистана провел переговоры с Федеральным Канцлером Германии</a></h3>

            </div>
        </div>
        <!-- Single Blog Post -->
        <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url({% static 'img/news3.jpg' %});">
            <!-- Single Blog Post Content -->
            <div class="single-blog-post-content">
                <div class="tags">
                    <a href="#">Политика</a>
                </div>
                <h3><a href="#" class="font-pt">Казахстан готов начать подачу российского газа в Узбекистан до конца октября</a></h3>

            </div>
        </div>
        <!-- Single Blog Post -->
        <div class="single-blog-post-slide bg-img background-overlay-5" style="background-image: url({% static 'img/news4.jpg' %});">
            <!-- Single Blog Post Content -->
            <div class="single-blog-post-content">
                <div class="tags">
                    <a href="#">Местное</a>
                </div>
                <h3><a href="#" class="font-pt">В Сергели повреждены квартиры в 26 многоэтажках</a></h3>

            </div>
        </div>
    </section>
    <!-- Welcome Blog Slide Area End -->

    <!-- Main Content Area Start -->
    <section class="main-content-wrapper section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <!-- Gazette Welcome Post -->
                    <div class="gazette-welcome-post">
                        <!-- Post Tag -->
                        <div class="gazette-post-tag">
                            <a href="#">Политика</a>
                        </div>
                        <h2 class="font-pt">В Навои заброшен «зеленый проект» стоимостью около 3,3 млн долларов</h2>

                        <!-- Post Thumbnail -->
                        <div class="blog-post-thumbnail my-5">
                            <img src="{% static 'img/news10.jpg' %}" alt="post-thumb">
                        </div>
                        <!-- Post Excerpt -->
                        <p>7 лет назад окрестности свободной экономической зоны «Навои» были озеленены на средства гранта в размере 2,5 млн долларов от Агентства международного сотрудничества Республики Корея (KOICA). Тогда на создание ирригационной системы района было потрачено 725 тысяч долларов из бюджета.</p>
                        <!-- Reading More -->
                        <div class="post-continue-reading-share d-sm-flex align-items-center justify-content-between mt-30">
                            <div class="post-continue-btn">
                                <a href="#" class="font-pt">Продолжить <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="post-share-btn-group">
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="gazette-todays-post section_padding_100_50">
                        <div class="gazette-heading">
                            <h4>ВЫБОР РЕДАКЦИИ</h4>
                        </div>
                        <!-- Single Today Post -->
                        <div class="gazette-single-todays-post d-md-flex align-items-start mb-50">
                            <div class="todays-post-thumb">
                                <img src="{% static 'img/news11.jpg' %}" alt="">
                            </div>
                            <div class="todays-post-content">
                                <!-- Post Tag -->
                                <div class="gazette-post-tag">
                                    <a href="#">Новости</a>
                                </div>
                                <h3><a href="#" class="font-pt mb-2">Председатель ЦБ — о стоимости сума, коллекторской деятельности и ценовом пузыре на рынке жилья </a></h3>

                                <p>Мамаризо Нурмуродов ответил на вопросы журналистов о девальвации сума по отношению к доллару, медленном процессе приватизации банков, влиянии резкого падения курса рубля на Узбекистан и другие темы. </p>
                            </div>
                        </div>
                        <!-- Single Today Post -->
                        <div class="gazette-single-todays-post d-md-flex align-items-start mb-50">
                            <div class="todays-post-thumb">
                                <img src="{% static 'img/news12.jpg' %}" alt="">
                            </div>
                            <div class="todays-post-content">
                                <!-- Post Tag -->
                                <div class="gazette-post-tag">
                                    <a href="#">Жизненное</a>
                                </div>
                                <h3><a href="#" class="font-pt mb-2">Манипулирование ценами UzAuto: как $11 000 за Onix превратились в $18 000 </a></h3>

                                <p>UzAuto Motors анонсировала продажи Onix стоимостью 126 млн сумов, Tracker-2 стоимостью 179 млн сумов и Malibu-2 стоимостью 375 млн сумов. А что же произошло в итоге? </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-6">
                    <div class="sidebar-area">
                        <!-- Breaking News Widget -->
                        <div class="breaking-news-widget">
                            <div class="widget-title">
                                <h5>Новости дня</h5>
                            </div>
                            <!-- Single Breaking News Widget -->
                            <div class="single-breaking-news-widget">
                                <img src="{% static 'img/news21.jpg' %}" alt="">
                                <div class="breakingnews-title">
                                    <p>Новости дня</p>
                                </div>
                                <div class="breaking-news-heading gradient-background-overlay">
                                    <h5 class="font-pt">Сборная Узбекистана установила рекорд по количеству медалей Азиад</h5>
                                </div>
                            </div>
                            <!-- Single Breaking News Widget -->
                            <div class="single-breaking-news-widget">
                                <img src="img/blog-img/bn-2.jpg" alt="">
                                <div class="breakingnews-title">
                                    <p>Новости дня</p>
                                </div>
                                <div class="breaking-news-heading gradient-background-overlay">
                                    <h5 class="font-pt">Изменение цен на топливо и энергию, рейтинг турфирм занимающихся отправкой паломников в Умру и еще один эксперимент в Ташкенте – что изменится с 1 октября?</h5>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Area End -->

        <!-- Catagory Posts Area Start -->
        <div class="gazette-catagory-posts-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <div class="single-catagory-post-thumb mb-15">
                                <img src="{% static 'img/news12.jpg' %}" alt="">
                            </div>
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href="#">Политика</a>
                            </div>
                            <h5><a href="#" class="font-pt">Что изменится в национальном законодательстве с 1 сентября?</a></h5>

                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href="#" class="font-pt">«Мы не можем продавать нефть и газ, они нужны нам самим» — президент </a></h5>

                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href="#" class="font-pt">Между станциями метро «Туркистан – Юнусабад – Шахристан» будут курсировать сочлененные автобусы</a></h5>

                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href="#" class="font-pt">9-11 октября ожидается облачная погода без осадков</a></h5>

                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <!-- Single Catagory Post -->
                                <div class="gazette-single-catagory-post">
                                    <div class="single-catagory-post-thumb mb-15">
                                        <img src="{% static 'img/news31.jpg' %}" alt="">
                                    </div>
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href="#">Другое</a>
                                    </div>
                                    <h5><a href="#" class="font-pt">Зерно на бирже – все довольны, свою очередь ждёт хлопок</a></h5>

                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Single Catagory Post -->
                                <div class="gazette-single-catagory-post">
                                    <div class="single-catagory-post-thumb mb-15">
                                        <img src="{% static 'img/news32.jpg' %}" alt="">
                                    </div>
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href="#">Другое</a>
                                    </div>
                                    <h5><a href="#" class="font-pt">На каком этаже лучше жить: на верхнем или нижнем? </a></h5>

                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Single Catagory Post -->
                                <div class="gazette-single-catagory-post">
                                    <div class="single-catagory-post-thumb mb-15">
                                        <img src="{% static 'img/news33.jpg' %}" alt="">
                                    </div>
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href="#">Нарушения</a>
                                    </div>
                                    <h5><a href="#" class="font-pt">Фиксация нарушений нестационарными радарами, требует процедуры, несоблюдение которой позволяет отменить штраф</a></h5>

                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Single Catagory Post -->
                                <div class="gazette-single-catagory-post">
                                    <div class="single-catagory-post-thumb mb-15">
                                        <img src="{% static 'img/blog-img/17.jpg' %}" alt="">
                                    </div>
                                    <!-- Post Tag -->
                                    <div class="gazette-post-tag">
                                        <a href="#">Видео</a>
                                    </div>
                                    <h5><a href="#" class="font-pt">Америка дно или ...</a></h5>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <div class="single-catagory-post-thumb mb-15">
                                <img src="{% static 'img/news41.jpg' %}" alt="">
                            </div>
                            <!-- Post Tag -->
                            <div class="gazette-post-tag">
                                <a href="#">Видео</a>
                            </div>
                            <h5><a href="#" class="font-pt">В Узбекистане повысятся цены на железнодорожные билеты</a></h5>

                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href="#" class="font-pt">Мирзиёев, Путин и Токаев дали старт поставкам российского газа в Узбекистан через Казахстан</a></h5>

                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href="#" class="font-pt">9-11 октября ожидается облачная погода без осадков</a></h5>

                        </div>
                        <!-- Single Catagory Post -->
                        <div class="gazette-single-catagory-post">
                            <h5><a href="#" class="font-pt">Шавкат Мирзиёев почтил память Ислама Каримова</a></h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Catagory Posts Area End -->

    <!-- Video Posts Area Start -->
    <section class="gazatte-video-post-area section_padding_100_70 bg-gray">
        <div class="container">
            <div class="row">
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src="{% static 'img/news51.jpg' %}" alt="">
                            <a href="https://youtu.be/dIyXl9ZHEgg" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href="#">Взрыв в Карабахе</a></h5>
                    </div>
                </div>
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src="{% static 'img/news52.jpg' %}" alt="">
                            <a href="https://youtu.be/dIyXl9ZHEgg" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href="#">Джо Байден пригласил Шавката Мирзиёева в США</a></h5>
                    </div>
                </div>
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src="{% static 'img/news53.jpg' %}" alt="">
                            <a href="https://youtu.be/dIyXl9ZHEgg" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href="#">Узбекистан воздержался при голосовании по резолюции ООН, где Россия названа агрессором</a></h5>
                    </div>
                </div>
                <!-- Single Video Post Start -->
                <div class="col-12 col-md-3">
                    <div class="single-video-post">
                        <div class="video-post-thumb">
                            <img src="{% static 'img/news54.jpg' %}" alt="">
                            <a href="https://youtu.be/dIyXl9ZHEgg" class="videobtn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <h5><a href="#">Подписан ряд документов, направленных на дальнейшее развитие сотрудничества между Узбекистаном и Россией</a></h5>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Video Posts Area End -->

    <!-- Search End -->
{% endblock %}
